<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<title>Swedish Phrase Book</title>
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,900" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>

<!-- SWEDISH PHRASE BOOK CONTENT -->
<section id="content">

    <!-- MASTHEAD -->
    <section id="masthead">
        <h1>Swedish Phrase Book</h1>
    </section><!-- /MASTHEAD -->

    <!-- VOCAB LIST -->
    <section class="vocab-wrapper">
        <ul class="header">
            <li><h2>English</h2></li>
            <li><h2>Swedish</h2></li>
        </ul>
        <section class="vocab-list">
            <ul class="row">
                <li>fireman</li>
                <li><input type="text" /></li>
            </ul>
            <ul class="row">
                <li>to work</li>
                <li><input type="text" /></li>
            </ul>
            <ul class="row">
                <li>September</li>
                <li><input type="text" /></li>
            </ul>
            <ul class="row">
                <li>four</li>
                <li><input type="text" /></li>
            </ul>
            <ul class="row">
                <li>journalist</li>
                <li><input type="text" /></li>
            </ul>
            <ul class="row">
                <li>Friday</li>
                <li><input type="text" /></li>
            </ul>
            <ul class="row">
                <li>optician</li>
                <li><input type="text" /></li>
            </ul>
            <ul class="row">
                <li>customer</li>
                <li><input type="text" /></li>
            </ul>
            <ul class="row">
                <li class="eng-word">arm</li>
                <li><input type="text" /></li>
            </ul>
            <ul class="row">
                <li>a table</li>
                <li><input type="text" /></li>
            </ul>
        </section>
    </section><!-- /VOCAB LIST -->

</section>
<!-- /SWEDISH PHRASE BOOK CONTENT -->



<!-- SCRIPTS -->
<script type="text/javascript" src="../js/main.js"></script>
<!-- SCRIPTS -->

</body>
</html>