syntax: glob
* - Copy
*-00[0-9]
*.*scc
*.FileListAbsolute.txt
*.[Cc]ache
*.[Pp]ublish.xml
*.aps
*.bak
*.bak.*
*.cache
*.clw
*.csproj.user
*.dll
*.eto
*.exe
*.fb6lck
*.fbl6
*.fbpInf
*.ilk
*.lib
*.log
*.ncb
*.nlb
*.obj
*.out
*.patch
*.pch
*.pdb
*.pidb
*.plg
*.pyc
*.rdl.data
*.resources
*.s3db
*.sbr
*.scc
*.sig
*.sqlsuo
*.sublime-project
*.sublime-workspace
*.suo
*.svclog
*.swp
*.tlb
*.tlh
*.tli
*.tlog
*.tmp
*.user
*.userprefs
*.usertasks
*.vshost.*
*.vspscc
*DXCore.Solution
*_i.c
*_p.c
*~
.DS_Store
.idea
.ipynb_checkpoints
.vagrant
/bin/*
/obj/*
Ankh.Load
App_Data/*
Backup*
CVS/
PrecompiledWeb/
RunNotes*
UpgradeLog*.*
[Bb]in
[Bb]in/
[Bb]uild[Ll]og.*
[Dd]ebug*/
[Dd]ebug/
[Oo]bj/
[Rr]elease*/
[Rr]elease/
[Tt]est[Rr]esult*
[Tt]humbs.db
_ReSharper*/
_ReSharper.*/
_UpgradeReport_Files
_[Rr]e[Ss]harper.*/
bin/
ignore[.-]*
lint.db
local.py
obj/
re: - Copy \([0-9]+\)
svnignore[.-]*
thumbs.db
tmp/