<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Swedish Phrase Book</title>
<!--<script src="https://code.jquery.com/jquery-3.1.1.min.js"-->
        <!--integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="-->
        <!--crossorigin="anonymous"></script>-->
<script type="text/javascript" src="../static/jquery-3.1.1.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,900" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>


<!-- SWEDISH PHRASE BOOK CONTENT -->
<section id="content">

    <!-- MASTHEAD -->
    <section id="masthead">
        <h1>Swedish Phrase Book</h1>
    </section><!-- /MASTHEAD -->

    <button onclick="timer()">Clickme</button>
    <p id="timer" style="font-size: 50px; color: black;"></p>

    <!-- VOCAB LIST -->
    <section class="vocab-wrapper">
        <ul class="header">
            <li><h2>English</h2></li>
            <li><h2>Swedish</h2></li>
        </ul>
        <section class="vocab-list">
            <div id="score"><span>0</span> / {{ total }}</div>
            {% for key, value in phrase_book.items() %}
                <ul class="row">
                    <li>{{ key }}</li>
                    <li><input type="text" value="" placeholder="{{ value }}" /></li>
                </ul>
            {% endfor %}
        </section>
    </section><!-- /VOCAB LIST -->

</section>
<!-- /SWEDISH PHRASE BOOK CONTENT -->

<p style="font-size: 20px; color: black; display: none;">{{ phrase_book }}</p>

<!-- SCRIPTS -->
<script type="text/javascript" src="../static/script.js"></script>
<!-- /SCRIPTS -->


</body>
</html>